* {
    margin: 0;
    padding: 0;
}

/**************************************
  ===== h1,h2,h3,h4,h5,h6 font size  ====
  **************************************/

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

small {
    font-size: 14px;
}

.fs10 {
    font-size: 10px;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs36 {
    font-size: 36px;
}

.fs60 {
    font-size: 60px;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-65 {
    width: 65%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-20 {
    width: 20% !important;
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10%;
}

/***Cursor******/

.cursor {
    cursor: pointer;
}

/***Padding 150***/

.p-150 {
    padding: 150px 0;
}

.p-100 {
    padding: 100px 0;
}

.p-70 {
    padding: 70px 0;
}

.p-50 {
    padding: 50px 0;
}

/***Color Code***/

.cl-white {
    color: #fff;
}

.cl-black {
    color: #000;
}

.cl-pm {
    color: #017bfd;
}

.cl-deep-blue {
    color: #003087;
}

.cl-grey {
    color: #8492a6;
}

.cl-mat-black {
    color: #293e55;
}

.cl-ash {
    color: #edf0fb;
}

.cl-dark-ash {
    color: #293e55;
}

.cl-dark-ash2 {
    color: #496789;
}

.cl-ash3 {
    color: #f8f9fc;
}

.cl-sky-blue {
    color: #97c3f8;
}

.cl-yellow {
    color: #e9a949;
}

.cl-green {
    color: #80df53;
}

/*******Bg color code********/

.bg-cl-pm {
    background-color: #017bfd;
}

.bg-cl-deep-blue {
    background-color: #003087;
}

.bg-cl-ash {
    background-color: #edf0fb;
}

.bg-cl-ash2 {
    background-color: #f8f9fc;
}

.bg-cl-dark-ash2 {
    background-color: #496789;
}

.bg-cl-mat-black {
    background-color: #293e55;
}

.bg-cl-light-pink {
    background-color: #edf0fb;
}

.bg-cl-pink {
    background-color: rgba(225, 75, 90, 0.1);
}

.bg-cl-light-pink2 {
    background-color: #eef2ff;
}

.bg-cl-navy-blue {
    background-color: #0c1752;
}

.bg-cl-sky-blue {
    background-color: rgba(1, 123, 253, 0.1);
}

.bg-cl-sky {
    background-color: #edf2fa;
}

.bg-cl-light-green {
    background-color: #eaf8ea;
}

.bg-cl-light-red {
    background-color: #fce7e7;
}

.bg-cl-red {
    background-color: #ff0000;
}

/***********All Input***********/

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

select:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

/**************Sign Up Start***********/

.signUp {
    background: url(../assets/image/logIn/loginbg.png);
    background-position: center;
    background-size: cover;
    max-height: 100vh;
    overflow-y: scroll;
}

.singUpImg {
    width: 216px;
    height: 43px;
}

.singUpImg img {
    height: 100%;
    width: 100%;
}

.signUpContent {
    min-height: 100vh;
}

.signUpContentDiv {
    width: 585px;
}

.signUpFeild {
    border-radius: 20px;
    padding: 60px 120px;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.mobileNavSocial {
    display: none !important;
}
/**************Sign Up End***********/

/**************Hero Section Start***********/

.hero {
    background: url(../assets/image/herobg.png);
    background-position: center;
    background-size: cover;
}

/*****Top Header Start*****/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0c1752;
    z-index: 9999999;
}

.topHeader {
    /* height: 54px; */
    box-shadow: 0px 0px 1px #f2f2f2;
}

.topSocialIcon {
    height: 28px;
    width: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.topSocialIcon:hover {
    background-color: #017bfd;
    transition: 0.5s ease-in-out;
    border: 1px solid #017bfd !important;
    color: whitesmoke !important;
}

.topSocialIcon2 {
    border: 1px solid #000 !important;
}

/*****Top Header End*****/

/*****Bottom Header Start*****/

.bottomHeader-img {
    width: 184px;
    height: 34px;
}

.bottomHeader-img img {
    width: 100%;
    height: 100%;
}

.nav-link:hover {
    color: #0881f3 !important;
    transition: 0.5s ease-in-out;
}

.navSignIn {
    border-radius: 100px;
    border: 1px solid #f2f2f2;
    transition: 0.5s ease-in-out;
}

.navSignIn:hover {
    background-color: #017bfd;
    transition: 0.5s ease-in-out;
    border: 1px solid #017bfd;
}

/*****Bottom Header End*****/

/************Hero Content Start*******/

.heroContent {
    padding: 230px 0;
}

.heroButton button {
    width: 240px;
    height: 60px;
    background-color: rgb(241, 232, 232, 0);
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}

.heroButton button:hover {
    background-color: #017bfd;
    border: none;
    transition: 0.5s ease-in-out;
}

/************Hero Content End*******/

/************Worker Step Start*******/

.lines {
    width: 8%;
    position: relative;
    text-align: center;
}

.lines::after,
.lines::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 4px;
    background-color: #017bfd;
    width: 42%;
    top: 40%;
}

.lines::after {
    left: 0;
}

.lines::before {
    right: 0;
}

.daimond {
    height: 15px;
    width: 15px;
    border: 8px solid #017bfd;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}

.stepsCard {
    width: 210px;
    height: 142px;
    border-radius: 10px;
    position: relative;
}

.stepCardIcon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.stepCardSpan {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -12%;
}

/************Worker Step Start*******/

/************Job Start*******/

.tableAvNumber {
    width: 28px;
    height: 28px;
}

.tableRow:hover {
    outline: 1px solid #017bfd;
    transition: 0.5s ease-in-out;
}

.tableRow {
    border-bottom: 10px solid #f8f9fc;
}

.pageIcon {
    width: 40px;
    height: 40px;
    border: 0.5px solid #d8dff7;
    border-radius: 50%;
}

.pageIcon:hover {
    background-color: #017bfd !important;
    color: white !important;
}

.jobTable table tbody tr td {
    position: relative;
}

.jobTable table tbody tr td .stickeyImg {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    left: 0;
}

.stickeyImg img {
    height: 100%;
    width: 100%;
}

.jobTable .table > :not(caption) > * > * {
    padding-left: 1.5rem;
}

/************Job End********/

/************About Start********/

.aboutHeroContent {
    padding: 130px 0;
    position: relative;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #fff;
}

.aboutImg {
    height: 557px;
    width: 455px;
    position: absolute;
    top: 10%;
}

.aboutImg img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.teamCard {
    border-radius: 10px;
    border: none;
}

.teamCardImage {
    height: 189px;
}

.teamCardImage img {
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.ourMissionImg {
    width: 500px;
    height: 549px;
}

.ourMissionImg img {
    width: 100%;
    height: 100%;
}

.missionCards {
    margin-top: -10%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(179, 203, 225, 0.25);
}

.missionCardIcon {
    height: 82px;
    width: 82px;
    border-radius: 50%;
}

.missionCardIcon i {
    font-size: 30px;
}

/************About End********/

/*************Terms And Services Start**********/

.termsBtn1 button {
    border: 0.5px solid #496789;
}

.termsBtn2 button {
    border: 0.5px solid #017bfd;
}

/*************Terms And Services End**********/

/*************Support & Contact Start**********/

.suppurtInpt input {
    width: 532px;
    border: 0.5px solid #0c1752;
    border-radius: 100px;
}

.supportCardIcon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 25px;
}

/*************Support & Contact End**********/

/*************Faq Start**********/

.question-text {
    display: none;
    border: 0.5px solid #496789;
}

.Show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.Show-text .minus-icon {
    display: inline;
}

.Show-text .plus-icon {
    display: none;
}

/*************Faq End**********/

/**********Career Start**********/

/* Bookmark Toggle */

.bookmark {
    height: 36px;
    padding-left: 0;
    list-style: none;
    color: #98a6c0;
    cursor: pointer;
}

.bookmark i {
    font-size: 18px;
    line-height: 35px;
}

.bookmark p {
    display: block;
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}

.toggle-pressed {
    color: red !important;
}

.click-icon {
    margin: 10px;
}

.career .filepond--drop-label {
    background-color: #f8f9fc;
    padding: 50px 0;
}

.career a.filepond--credits {
    color: #fff;
}

/*********Career End************/

/**********Payment History Start*******/

.pTablestatus {
    border-radius: 100px;
}

.pHistoryTable {
    border-radius: 10px;
    box-shadow: 5px 3px 10px #f2f2f2;
}

.pHistoryTable table th,
.pHistoryTable table td {
    padding: 15px 25px;
}

.pHistoryTable .table-hover tbody tr:hover td,
.pHistoryTable .table-hover tbody tr:hover th {
    background-color: #f8f9fc;
}

.pHistorySearch input {
    border: 0.5px solid #d8dff7;
}

/**********Payment History End*******/

/**********Single Job Start*******/

.singleJobHeroContent {
    padding: 120px 0;
}

.singleJobHeroContent .breadcrumb-item + .breadcrumb-item::before {
    color: whitesmoke;
}

.sJMLIcon {
    height: 60px;
    width: 60px;
}

.singleJobMidLeft {
    border: 1px solid #d6dbe0;
}

.singleJobMidRight {
    border: 1px solid #d6dbe0;
}

.singleJobMidRight .filepond--drop-label {
    background-color: #f8f9fc;
}

.singleJobMidRight a.filepond--credits {
    color: #fff;
}

.singleJobMidRight textarea {
    border: 0.5px solid #dedfdf;
}

.sJBRCard {
    position: relative;
    border-radius: 20px;
    padding: 80px 15px;
}

.sJBRCardImg {
    height: 62px;
    width: 33px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.sJBRCardImg img {
    height: 100%;
    width: 100%;
}

.sJBRCard2 {
    margin-top: -50px;
}

.sJBRCardBtn button {
    border-radius: 100px;
}

/**********Single Job End*******/

/*********All Gigs Start*************/

.gigcardBodyTopImg {
    height: 30px;
    width: 30px;
}

.gigcardBodyTopImg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.gigCardBody {
    padding: 0;
}

.gigCardBodyTop {
    padding: 1rem 1rem;
    border-bottom: 2px solid #f2f2f2;
}

.gigCardBodyBottom {
    padding: 1rem 1rem;
}

.gigCardHeartIcon i {
    color: #98a6c0;
}

/*********All Gigs End*************/

/*********My Wallet Start*************/

.myWalletTopLeft {
    border-radius: 20px 0 0 20px;
}

.myWalletTopRight {
    border-radius: 0 20px 20px 0;
}

.myWalletCard {
    border-radius: 20px;
}

.myWalletTopRightImg {
    width: 226px;
    height: 166px;
}

.myWalletTopRightImg img {
    height: 100%;
    width: 100%;
}

/*my Wallet Edit*/

.reachargeWalletImg img {
    width: 100%;
}

.reachargeWallet input {
    border: 1px solid #293e55;
}

/*********My Wallet End*************/

/********Profile start********************/

.profileContentImg {
    height: 76px;
    width: 76px;
}

.profileContentImg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profileEditBtn button {
    border: 1px solid #017bfd;
}

/*Profile Edit*/

.profileEditContent .filepond--drop-label {
    background-color: #f8f9fc;
    padding: 100px 0;
}

.profileEditContent a.filepond--credits {
    color: #fff;
}

/*********Profile End*********************/

/*********Create Job Start*********************/

.createJobCampaign {
    border: 0.5px solid #ced4da;
}

.createJobCampaignIcon {
    width: 61px;
    height: 35px;
    background: rgba(0, 48, 135, 0.2);
}

.createJobTotalCost {
    border: 0.5px solid #97c3f8;
    border-radius: 10px;
}

.createJobRightBottom {
    background-image: url(../assets/image/CreateJob.JPG);
    background-position: center;
    background-size: cover;
}

.createJobRightBottomIcon {
    height: 90px;
    width: 90px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

/*Job Detail*/

.singleJobMidRight {
    border-radius: 10px;
}

.singleJobRightTop {
    background-image: url(../assets/image/jobDetail1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.singleJobRightTopIcon {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.singleJobRightTop2nd {
    box-shadow: 0px 3px 7px 5px #f1f1f1;
    border-radius: 10px;
}

.singleJobRightTop2ndImg {
    height: 68px;
    width: 68px;
}

.singleJobRightTop2ndImg img {
    height: 100%;
    width: 100%;
}

/*Create Contest*/

.singleContestRightTop2ndImg img {
    border-radius: 10px;
}

/*********Create Job End*********************/

/*********Create Gig Start*********************/

.createGig .filepond--drop-label {
    background-color: #d4d4d4;
    padding: 100px 0;
}

.createGig a.filepond--credits {
    color: #fff;
}
.createGigImg {
    height: 400px;
}
.createGigImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.inputTagContent ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7px;
    /* margin: 12px 0; */
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

.inputTagContent ul li {
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 5px;
    border: 1px solid #e3e1e1;
}

.inputTagContent ul li i {
    height: 20px;
    width: 20px;
    color: #808080;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
}

.inputTagContent ul input {
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

/*********Create Gig End*********************/

/************Bottom Banner Start********/

.bottomBanner {
    background-image: url(../assets/image/posterbg.png);
    background-position: center;
    background-size: cover;
}

.bottomBannerContent {
    padding: 200px 0;
}
.bottomBannerImg {
    display: none;
}

/************Bottom Banner End********/

/************Footer Start**************/

.footer {
    border-bottom: 1px solid #496789;
}

.footerLogoImg {
    width: 209px;
    height: 42px;
}

.footerLogoImg img {
    height: 100%;
    width: 100%;
}

.footerPmImg {
    height: 42px;
    width: 65px;
}

.footerPmImg img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.footerApp {
    width: 178px;
}

.footerAppBtnContent {
    line-height: 8px;
}

.submissionIcon {
    height: 30px;
    width: 30px;
    border: 0.5px solid rgb(179, 177, 177);
    border-radius: 5px;
}

/************Footer End**************/

/**************Media Start****************/

@media (max-width: 600px) {
    /*Sign In*/
    .signUpFeild {
        padding: 50px 50px;
    }
    .signInRemember {
        flex-direction: column;
    }
    .heroContent {
        padding: 50px 0;
    }
    .heroContent h1 {
        font-size: 50px;
        flex-wrap: wrap;
    }
    .lines {
        width: 25% !important;
    }
    /*About Us*/
    .aboutHeroContent {
        padding: 50px 0;
    }
    .aboutHeroContent h1 {
        font-size: 70px;
    }
    .aboutImg {
        width: 100%;
        height: 100%;
    }
    .ourStory {
        padding: 50px 0;
    }
    .ourMissionImg {
        height: 100%;
        width: 100%;
    }
    /*Support*/
    .suppurtInpt input {
        width: 350px;
    }
    /*Profile*/
    .profileContent {
        flex-direction: column;
    }
    /*Create Contest*/
    .jobFlexDiv {
        flex-direction: column;
    }
    .jobFlexTopDiv {
        flex-direction: column;
    }
    /*CreateJob*/
    .createJobRightBottom {
        flex-direction: column;
    }
    /*PaymentHistory*/
    .pHistorySearchDiv {
        justify-content: start !important;
    }
    /*Single Job*/
    .sJBRCard2 {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    /*top header*/
    .topHeader {
        display: none;
    }
    /*Employee Walet*/
    .myWalletTop {
        flex-direction: column;
    }
    .myWalletTopLeft {
        width: 100% !important;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .myWalletTopRight {
        width: 100% !important;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px 0;
    }
    /*Home*/
    .heroButton {
        flex-direction: column;
    }
    .topSocial {
        flex-direction: column;
    }
    .topSocialHelp {
        margin-right: 0 !important;
    }
    /*bottom banner*/
    .bottomBanner {
        background-color: #017bfd !important;
        background-image: none !important;
    }
    .bottomBannerImg {
        display: block !important;
    }
    .bottomBannerContent {
        padding: 20px 0 100px 0;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    /*Nav*/
    .bottomHeader {
        background-color: #0c1752 !important;
    }
    .mobileNavSocial {
        display: flex !important;
        justify-content: center;
        margin: 10px 0;
    }
    /*Home*/
    .stepsCardNone {
        display: none;
    }
    .lines {
        width: 12%;
    }
    /*About Us*/
    .aboutImg {
        position: relative;
        top: 0;
    }
    .ourStoryContent {
        padding: 0 !important;
    }
    .missionCards {
        margin-top: 10%;
    }
}

.cardText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/**************Media End****************/

/**************News Start****************/

.news {
    width: 160px;
}
.news-scroll a {
    text-decoration: none;
}
.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207, 23, 23);
    border-radius: 50%;
    display: inline-block;
}

/**************News End****************/
